@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500&display=swap');

* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Mandali', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Eczar', serif;
}